<T3DataStructure>
    <meta>
        <langDisable>1</langDisable>
    </meta>
    <sheets>
        <sDEF>
            <ROOT>
                <TCEforms>
                    <sheetTitle>Map</sheetTitle>
                </TCEforms>
                <type>array</type>
                <el>
                    <settings.mapProvider>
                        <TCEforms>
                            <label>Map provider</label>
                            <config>
                                <type>select</type>
                                <items>
                                    <numIndex index="0" type="array">
                                        <numIndex index="0">Google Maps</numIndex>
                                        <numIndex index="1">AM\Cartography\MapProvider\GoogleMaps</numIndex>
                                    </numIndex>
                                </items>
                            </config>
                        </TCEforms>
                    </settings.mapProvider>
                    <settings.mapUid>
                        <TCEforms>
                            <label>Select map</label>
                            <config>
                                <type>group</type>
                                <internal_type>db</internal_type>
                                <allowed>tx_cartography_map</allowed>
                                <size>1</size>
                                <maxitems>1</maxitems>
                                <minitems>0</minitems>
                                <show_thumbs>1</show_thumbs>
                                <wizards>
                                    <suggest>
                                        <type>suggest</type>
                                    </suggest>
                                </wizards>
                            </config>
                        </TCEforms>
                    </settings.mapUid>
                    <settings.zoom>
                        <TCEforms>
                            <label>Zoom</label>
                            <config>
                                <type>input</type>
                                <size>5</size>
                                <eval>num</eval>
                            </config>
                        </TCEforms>
                    </settings.zoom>
                    <settings.centerLat>
                        <TCEforms>
                            <label>Center latitude</label>
                            <config>
                                <default></default>
                                <type>input</type>
                                <size>15</size>
                            </config>
                        </TCEforms>
                    </settings.centerLat>
                    <settings.centerLng>
                        <TCEforms>
                            <label>Center longitude</label>
                            <config>
                                <default></default>
                                <type>input</type>
                                <size>15</size>
                            </config>
                        </TCEforms>
                    </settings.centerLng>
                    <settings.width>
                        <TCEforms>
                            <label>Width</label>
                            <config>
                                <default></default>
                                <type>input</type>
                                <size>15</size>
                            </config>
                        </TCEforms>
                    </settings.width>
                    <settings.height>
                        <TCEforms>
                            <label>Height</label>
                            <config>
                                <default></default>
                                <type>input</type>
                                <size>15</size>
                            </config>
                        </TCEforms>
                    </settings.height>
                    <settings.snazzy>
                        <TCEforms>
                            <label>Snazzy styles</label>
                            <config>
                                <default></default>
                                <type>text</type>
                                <cols>30</cols>
                                <rows>10</rows>
                            </config>
                        </TCEforms>
                    </settings.snazzy>
                </el>
            </ROOT>
        </sDEF>
    </sheets>
</T3DataStructure>